<!-- <div class="container">
  <div class="box mt-5 ">
    <div class="my-2 w-25">
      <app-select [data]="Categories" [title]="'categories :'" (selectedvalue)=" filterCategory($event)"></app-select>
    </div>
    <div class="row">

      <div class="col-md-3 col-sm-12" *ngFor="let item of products ">

        <app-product [data]="item" (item)="addToCart($event)"></app-product>
      </div>
    </div>
    <div class="text-center w-100">
    </div>
  </div>
</div> -->


<div class="beforProducts">
  <p>This is Products Sales Management Website</p>

</div>

<div class="AllProducts">
  <p>Products</p>
</div>



<div class="container" style="border: 1px solid gray;">
  <!-- Button trigger modal -->
  <button style="margin-top: 40px;" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Add Product
  </button>
  <hr>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">AddProduct</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <label for="">Title</label>
                <input type="text" formControlName="title" class="form-control" placeholder="Title">
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="">Price</label>
                <input type="text" formControlName="price" class="form-control" placeholder="Price">
              </div>
              <div class="col-md-4 col-sm-12">
                <app-select [data]="Categories" [title]="'Categories'"
                  (selectedvalue)="getSelectedCategory($event)"></app-select>
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="image">Image</label>
                <img src="{{base64}}" alt="">
                <input type="file" name="" id="" class="form-control" (change)="getImagePath($event)">
              </div>
              <div class="col-md-8 col-sm-12">
                <label for="image">Description</label>
                <textarea placeholder="type here .... " id="" class="form-control"
                  formControlName="description"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button class="btn btn-success" (click)="addProduct() " [disabled]="!form.valid">Add Product</button>
            </div>
          </form>



        </div>

      </div>
    </div>
  </div>
  <table class="table" style="margin-top: 50px; border: 1px solid rgb(192, 192, 192);">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <th scope="row"><img style="height: 50px; width: 50px;" src="{{item.image}}" alt=""></th>
        <td>{{item.title}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}} L.E</td>
        <td>

          <button class="btn btn-warning" data-toggle="modal" data-target="#viewCart">Update</button>

        </td>
      </tr>

    </tbody>
  </table>
</div>